<html lang="fr">
  <head>
        <meta charset="utf-8" />
        <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <meta name="description" content="réseaux social interne de Groupomania" />
        <meta name="author" content="" />
        <title>Groupomania Corporate Social Network</title>

        <!-- Boostrap -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

        <!-- Custom CSS -->
        <link href="style.css" rel="stylesheet" />

		<!-- Custom JS -->
		<script src="function.js"></script>
   </head>
    
   <body>
	   	<!-- Vue.js -->
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

		<!-- Axios -->
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

		<!-- Navigation -->
		<div id="app">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="panel panel-login">
						<div class="panel-heading">
							<div class="row">
								<div class="col-xs-6">
									<a href="#" class="active" id="login-form-link">Connexion</a>
								</div>
								<div class="col-xs-6">
									<a href="#" id="register-form-link">Créer un compte</a>
								</div>
							</div>
							<hr>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-lg-12">
									<form @submit="loginSubmit"
									id="login-form" action="../index.html" method="post" role="form" style="display: block;">
										<div class="form-group">
											<input type="email" name="email" v-model="email" id="email" tabindex="1" class="form-control" placeholder="Adresse email" value="">
										</div>
										<div class="form-group">
											<input type="password" name="password" v-model="password" id="password" tabindex="2" class="form-control" placeholder="Mot de passe">
										</div>
										<div class="form-group text-center">
											<input type="checkbox" tabindex="3" class="" name="remember" id="remember">
											<label for="remember">Rester connecté</label>
										</div>
										<div class="form-group">
											<div class="row">
												<div class="col-sm-6 col-sm-offset-3">
													<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Se connecter">
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="row">
												<div class="col-lg-12">
													<div class="text-center">
														<a href="https://phpoll.com/recover" tabindex="5" class="forgot-password">Mot de passe oublié ?</a>
													</div>
												</div>
											</div>
										</div>
									</form>
									<form @submit.prevent="signupSubmit"
									id="register-form" action="../index.html" method="post" role="form" style="display: none;">
										<div class="form-group">
											<input type="text" name="username" v-model="username" id="username" tabindex="1" class="form-control" placeholder="Nom d'utilisateur" value="">
										</div>
										<div class="form-group">
											<input type="email" name="email" v-model="email" id="email" tabindex="1" class="form-control" placeholder="Adresse email" value="">
										</div>
										<div class="form-group">
											<input type="password" name="password" v-model="password" id="password" tabindex="2" class="form-control" placeholder="Mot de passe">
										</div>
										<div class="form-group">
											<input type="text" name="bio" v-model="bio" id="bio" tabindex="2" class="form-control" placeholder="Décrivez-vous en quelques mots">
										</div>
										<div class="form-group">
											<div class="row">
												<div class="col-sm-6 col-sm-offset-3">
													<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="S'inscrire !">
												</div>
											</div>
										</div>
									</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script>
			var app = new Vue({
                el: "#app",
				data() {
					return {
						username: '',
						email: '',
						password: '',
						bio: '',
					}
				},
                methods: {
					signupSubmit() {
						const data = {
							username: this.username,
							email: this.email,
							password: this.password,
							bio: this.bio,
						}
						axios
						.post('http://localhost:3000/api/user/signup/', data)
						.then(res => {console.log(res)})
						.catch(error => {console.log(error)})
					},
					async loginSubmit() {
						const response = await axios.post('http://localhost:3000/api/user/login/', {
							email: this.email,
							password: this.password
						});
						console.log(response);
						localStorage.setItem('token', response.data.token);
					}
				}
            })
		</script>

	</body>
</html>